/* General */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Sen', sans-serif;
}

/* Body */
.employee-card {
  margin: 10px;
  width: 31%;
}

i {
 margin-right: 10px; 
}

h1 {
  color: white;
}